/* arimo-regular - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('./fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2')
}

/* arimo-600 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
       url('./fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2')
}

/* arimo-500 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local(''),
       url('./fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2')
}

/* arimo-700 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('./fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2')
}

/* rubik-regular - latin-ext_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('./fonts/Rubik/rubik-v20-latin-ext_latin-regular.woff2') format('woff2')
}

/* rubik-700 - latin-ext_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('./fonts/Rubik/rubik-v20-latin-ext_latin-700.woff2') format('woff2')
}

/* ttcommons-600 */
@font-face {
  ascent-override: 105%;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
       url('./fonts/TTCommons/ttcommons-600.woff') format('woff')
}

/* ttcommons-700 */
@font-face {
  ascent-override: 105%;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('./fonts/TTCommons/ttcommons-700.woff') format('woff')
}

:root {
  font-family: Arimo, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --content-height: calc(100vh - 132px);
}

body {
  margin: 0;
  overflow: hidden;
}

tr.table-row {
  border-radius: 4px;
  padding: 0 10px 0 0;
}

tr.table-row[data-selected-above="true"] {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

tr.table-row[data-selected-below="true"] {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

td[class$="duration"],
th[class$="duration"] {
  flex-shrink: 0;
  padding: 0 0 0 8px;
  text-align: right;
  width: 48px;
}

td[class$="index"],
th[class$="index"] {
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 0 0 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40px;
}

td[class$="thumb"],
th[class$="thumb"] {
  flex-shrink: 0;
  padding: 0 0 0 8px;
  text-align: center;
  width: 38px;
}

td[class$="title"],
th[class$="title"] {
  padding: 0 0 0 8px;
  width: -webkit-fill-available;
}

td[class$="userRating"],
th[class$="userRating"] {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 0 0 8px;
  text-align: right;
  width: 76px;
}

tr.history-row {
  padding: 0 10px 0 0;
  transition: background-color 100ms ease-in-out;
  > td[class$="index"], > th[class$="index"] {
    flex-shrink: 0;
    overflow: hidden;
    padding: 6px 8px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20px;
  }
  > td[class$="viewedAt"], > th[class$="viewedAt"] {
    overflow: hidden;
    padding: 6px 10px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: -webkit-fill-available;
  }
  > th[class$="index"] {
    padding: 0 8px;
    text-align: left;
  }
  > th[class$="viewedAt"] {
    padding: 0 10px;
  }
}

tr.history-row:hover {
  background-color: var(--mui-palette-action-hover);
  :first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }  
  :last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.corner {
  aspect-ratio: 1;
  background-image: radial-gradient(circle at 100% 100%, transparent 18px, var(--mui-palette-background-default) 19px);
  width: 18px;
}

.disable-hover {
  [data-test-id="virtuoso-item-list"] {
    pointer-events: none;
  }
}

.generic-icon {
  height: 4rem !important;
  margin: auto;
  width: 4rem !important;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.os-scrollbar {
  z-index: 10;
}

.now-playing-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto 50fr;
  grid-template-areas: 'artwork metadata';
}

.now-playing-artwork {
  aspect-ratio: 1;
  display: flex;
  grid-area: artwork;
  width: calc(var(--content-height) - 32px);
  margin-bottom: auto;
  margin-top: auto;
  max-width: 436px;
}

.now-playing-metadata {
  background: cornflowerblue;
  display: flex;
  height: calc(var(--content-height) - 32px);
  grid-area: metadata;
  margin-bottom: auto;
  margin-top: auto;
  max-height: 436px;
}

@media (min-width: 1120px) {
  .now-playing-artwork {
    max-width: 536px;
  }
  .now-playing-metadata {
    max-height: 536px;
  }
}

@media (min-width: 1536px) {
  .now-playing-artwork {
    max-width: 620px;
  }
  .now-playing-metadata {
    max-height: 620px;
  }
}

.rating-container {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  text-align: left;
  color: #faaf00;
  height: 20px;
  overflow: hidden;
  width: fit-content;
}

.rating-container > * {
  height: 20px;
}

.rating-star > * {
  height: 20px;
}

.rating-star:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.titlebar-spacer {
  height: 32px;
  width: -webkit-fill-available;
  -webkit-app-region: drag;
}
